include:
  - compose-infra.yaml

services:
  publisher:
    image: ru.ipal.postgre-server:latest
    mem_limit: 4g
    ports:
      - "8081:8081"
    # restart: unless-stopped
    environment:
      POSTGRESQL_SERVER: ${POSTGRESQL_SERVER}
      JAVA_TOOL_OPTIONS: >-
        -XX:+UseCompactObjectHeaders
        -XX:MaxRAMPercentage=75

